.productsIcon {
    background: url("#{resource['img/productsIcon.png']}") no-repeat;
}

.categoriesIcon {
    background: url("#{resource['img/categoriesIcon.png']}") no-repeat;
}

.ordersIcon {
    background: url("#{resource['img/ordersIcon.png']}") no-repeat;
}

.usersIcon {
    background: url("#{resource['img/usersIcon.png']}") no-repeat;
}

.order_status {
    width: 30px;
    height: 30px;
    margin: auto;    
}

.order_status_Done {
    background: url("#{resource['img/order_status_done.png']}") no-repeat;  
}

.order_status_Pending {
    background: url("#{resource['img/order_status_pending.png']}") no-repeat;  
}

.order_status_Canceled {
    background: url("#{resource['img/order_status_canceled.png']}") no-repeat;  
}